<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>Activate Channel</title>
      <meta name="robots" content="noindex, nofollow">
      <link rel="stylesheet" href="./css/shared.css">
      <link rel="stylesheet" href="./css/main.css">
      <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico"> 
   </head>
   <body class="activate">
      <div align="center">
        <img src="./images/your-logo-here.png" />
      </div>
      <header id="header">
        <div class="message-container">&nbsp;</div>
      </header>
      <main role="main">
         <article class="page-wrapper activation-page">
            <h2><%= msg %></h2>
            <a class="helpLink" target="_blank" href="http://lvcabral.com/roku">Check my Roku Channels</a>
            <footer class="footer">
               <div class="footer-inner">© 2017 Marcelo Lv Cabral - All Rights Reserved.<br></div>
            </footer>
         </article>
      </main>
   </body>
</html>