

/* NEOD Second Screen */

a,
article,
body,
div,
footer,
form,
h2,
header,
html,
img {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}

html {
	line-height: 1
}

article,
footer,
header,
main {
	display: block
}

form .button,
form input {
	vertical-align: top;
	-moz-box-sizing: initial;
	box-sizing: initial
}

form input {
	border-radius: 0
}

form input:focus {
	outline: 0
}

form input::-ms-clear {
	display: none
}

form .form-submit {
	-webkit-appearance: none
}

.textfield-code {
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	padding: 0 8px;
	height: 2.8rem;
	border: 2px solid transparent;
	outline-width: 0
}

main form .content :not(:last-child) {
	margin-bottom: 10px
}

@media (min-width:531px) {
	main form .content :not(:last-child) {
		margin-right: 10px
	}
}

main .button {
	position: relative;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	border: 3px solid transparent;
	font-size: 1rem;
	padding: .85rem 22px
}

#header {
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	line-height: 5rem;
	height: 5rem;
	margin-bottom: 2.5rem;
	font-size: 32px;
	border-top: 7px solid transparent
}

body {
	margin-top: 7.5rem
}

main {
	margin: 0 2rem
}

article {
	max-width: 1000px;
	margin: 2rem auto;
	text-align: center;
	font-size: 0;
	position: relative
}

article h2 {
	margin-bottom: 1.9rem;
	line-height: 1.3em;
	font-size: .9rem;
	font-weight: 300
}

article footer {
	font-size: 10px;
	line-height: 1.8em;
	text-align: center;
	margin: 40px auto .5rem;
	padding-top: 40px;
	border-top: 1px solid transparent;
	max-width: 320px
}

#header {
	-webkit-transition: background-color .25s ease .1s, color .15s ease 0s, border-color .25s ease .1s;
	transition: background-color .25s ease .1s, color .15s ease 0s, border-color .25s ease .1s
}

article {
	-webkit-transition: opacity .25s ease 0s;
	transition: opacity .25s ease 0s
}

input {
	-webkit-transition: border .25s ease 0s, box-shadow .25s ease 0s;
	transition: border .25s ease 0s, box-shadow .25s ease 0s
}

.button {
	-webkit-transition: color .25s ease 0s, background-color .25s ease 0s, border-color .25s ease 0s;
	transition: color .25s ease 0s, background-color .25s ease 0s, border-color .25s ease 0s
}

.message-container {
	text-align: center;
	margin: -15px auto 0;
	line-height: 16px;
	position: absolute;
	top: 5rem;
	width: 100%
}

/* NEOD Second Screen */

article.activation-page {
    max-width: 304px
}
article.activation-page h2 {
    padding: 0 1rem
}
@media (max-width: 530px) {
    article.activation-page h2 {
        padding: 0 2rem
    }
}
article.activation-page .helpLink {
    display: block;
    font-size: .7rem;
    text-decoration: none;
    margin-top: 1rem
}
@media (min-width: 531px) {
    form.activation .textfield-code {
        width: -webkit-calc(60% - 30px);
        width: calc(60% - 30px)
    }
    form.activation .form-submit {
        width: -webkit-calc(40% - 50px);
        width: calc(40% - 50px)
    }
}
@media (max-width: 530px) {
    form.activation .textfield-code {
        width: -webkit-calc(80% - 20px);
        width: calc(80% - 20px)
    }
    form.activation .form-submit {
        width: -webkit-calc(80% - 50px);
        width: calc(80% - 50px)
    }
}
@media (max-height: 300px) {
    body.activate #header {
        position: absolute
    }
}
html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #FFF
}
@media (max-width: 530px) {
    html {
        font-size: 16px
    }
}
body {
    background: #000
}
#header {
    background: #000;
    border-color: #0067A3;
}
article a {
    color: #0067A3
}
article footer {
    color: #717171;
    border-color: #717171
}
.textfield-code.textfield-default {
    color: #A3A3A3
}
main .button {
    color: #FFF;
    background-color: #000;
    border-color: #FFF;
    font-weight: 600
}
main .button.provider-button:not(:hover):not(:active) {
    background: #000;
    border-color: #333
}
main .button.form-submit:not(:hover):not(.active) {
    color: #333;
    border-color: #333
}
main .button:active:not(.inactive),
main .button:hover:not(.inactive) {
    color: #FFF;
    background-color: #474747
}
